astroid==2.4.2
biopython==1.77
biothings-client==0.2.1
certifi==2020.6.20
chardet==3.0.4
et-xmlfile==1.0.1
idna==2.10
isort==4.3.21
jdcal==1.4.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
myvariant==1.0.0
nose==1.3.7
numpy==1.19.0
openpyxl==3.0.4
pylint==2.5.3
ratelimit==2.2.1
requests==2.24.0
six==1.15.0
toml==0.10.1
urllib3==1.25.9
wrapt==1.12.1
